restwebservice-app/src/main/mule/restwebservice-app.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="16421b82-e4e3-4e6e-bab4-c6f69bc8204b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="5660ff8d-7ec2-44a5-98fe-fdba3994d4e8" basePath="/sqlrest/CUSTOMER" >
		<http:request-connection host="www.thomas-bayer.com" port="80" />
	</http:request-config>
	<flow name="restwebservice-appFlow" doc:id="61c53859-b9c9-47f0-8436-83840b2bfbe8" >
		<http:listener doc:name="Listener" doc:id="a7e502f8-1356-45e2-9c5d-e7885b288904" config-ref="HTTP_Listener_config" path="/customer/{id}"/>
		<set-variable value="#[attributes.uriParams.id]" doc:name="Customer Id" doc:id="b0aeab31-0577-4afe-b8ea-5157c0d4e835" variableName="Id"/>
		<http:request method="GET" doc:name="Request" doc:id="127b1792-bc24-4b7c-a1c1-95ff1763de7a" config-ref="HTTP_Request_configuration" path="/{id}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"id" : vars.id
}]]]></http:uri-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="7b6d2b24-808e-4691-8b57-8da7c57ed05e" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="43bc7832-4b5d-4d77-9f4a-c684deccd2e9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="0142b32f-b19e-43fc-b84f-5c61dc0b14e2" message="#[payload]"/>
	</flow>
</mule>
