.tooling/eventflow-choicesrouter-appb19d8799-501d-471a-a6fe-b73862c6946c/interface.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ebd0d8e1-70ca-4950-b09b-7b1b6fdf9851" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="interfaceFlow" doc:id="c7ead726-8b68-4a38-8694-444657ee73a6" >
		<http:listener doc:name="Listener" doc:id="c34023b7-5ca2-49d0-bfb5-b7f1ed49af66" path="/*/{id}"/>
		<set-variable value="#[attributes.uriParams.id]" doc:name="Set Variable" doc:id="1d3f6715-092c-4db3-87f2-69e13c75a324" variableName="id"/>
		<choice doc:name="Choice" doc:id="4b99eb62-b771-4d62-8d1d-5a26f8ccab8b" >
			<when expression="#[attributes.requestPath contains /customer/]">
				<flow-ref doc:name="Flow Reference" doc:id="f66f2933-2225-4c09-8392-b99e35622f08" name="getCustomerByID"/>
			</when>
			<when expression="#[attributes.requestPath contains /invoice/]">
				<flow-ref doc:name="Flow Reference" doc:id="8ec01143-3e2a-4c47-a9a2-ab068c1d0106" name="getInvoiceByIDFlow"/>
			</when>
			<when expression="#[attributes.requestPath contains /invoice/]">
				<flow-ref doc:name="Flow Reference" doc:id="823f3df2-6ccb-4352-a855-97264ec9b184" name="getInvoiceByIDFlow"/>
			</when>
			<when expression="#[attributes.requestPath contains /invoice/]">
				<flow-ref doc:name="Flow Reference" doc:id="796ad96d-aede-4255-b90a-ae9b4941ced9" name="getProductByID"/>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="7420e142-fed0-44e1-b0ab-abe3b09cf5bc" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message":"Request not processing"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
</mule>
