access/src/main/mule/access.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7ae659f3-3ad8-4e0a-a064-f5624dad78ba" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<flow name="accessFlow" doc:id="e4dc67d7-2e66-4857-93b7-632cf450240f" >
		<http:listener doc:name="Listener" doc:id="f88caa7e-c64e-4e3a-9659-e5572fb8c8db" config-ref="HTTP_Listener_config" path="/access"/>
		<logger level="INFO" doc:name="Logger" doc:id="15465191-b810-4df5-bd01-d7062b709e7e" message="#[message.attributes]"/>
	</flow>
</mule>
